body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  /* background-color: #7B7DDD; */
  background: linear-gradient(
    222deg,
    #bababa,
    #b6b6b6,
    #a7a7a7,
    #959494,
    #a7a7a7,
    #b6b6b6,
    #bababa
  );
  background-size: 300% 300%;
  animation: gradient-animation 8s ease infinite;
}

a {
  padding: 8px;
  font-size: xx-large;
  color: #242424;
  text-decoration: none;
}

.centredroite {
  padding-right: 5px;
  border-radius: 10px;
  background: linear-gradient(106deg, #ce9770, #a978f8, #324376);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
  margin: 0% 12% 0% 0%;
  margin-left: 50%;
  /* font-weight: bold; */
  font-size: 3.5em;
  text-align: right;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

span {
  color: #000000;
  /* font-style: normal; */
}

.centregauche {
  padding-left: 5px;
  border-radius: 10px;
  background: linear-gradient(106deg, #324376, #a978f8, #ce9770);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite;
  margin: 20% 0% 0% 14%;
  /* margin-right: 50%; */
  /* padding: 0; */
  font-size: 3.5em;
  /* text-align: right; */
  color: black;
  /* text-shadow: 3px 3px 3px #ffffff; */
  width: 30%;
}

h1 {
  /* margin: 30px; */
  /* padding: 5px; */
  color: #f9f8ff;
}

h2 {
  /* margin: 30px; */
  /* padding: 5px; */
  color: #f9f8ff;
}

/* p {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  margin: 30px;
  padding: 5px;
  font-size: 1.1em;
  color: #f9f8ff;
} */

.entete,
.pied-de-page {
  width: 100%;
  background-color: white;
}

.entete {
  position: fixed;
  top: 0;
}

.entete a {
  margin-left: 20px;
}

/* .entete .logo {
  margin-left: 20px;
} */

.pied-de-page {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.pied-de-page a {
  margin-left: 20px;
}

.pied-de-page .logo {
  margin-left: 20px;
}

.lien-icone {
  font-size: 30px;
  padding: 5px;
}

.lien-icone:hover {
  opacity: 0.5;
}

.portrait {
  /* margin: ; */
  /* margin: 0px 425px 20px 460px; */
  /* float:center; */
  /* position: flex; */
  /* top: auto;
  bottom: auto;
  right: auto;
  left: auto; */
  /* padding: 30px; */
  margin-top: -300px;
  margin-right: auto;
  /* margin-bottom: 50px; */
  margin-left: auto;
  display: block;
  border-radius: 25% 75% 39% 61% / 82% 22% 78% 18%;
}

.logo {
  /* padding: 0px 8px 0px 0px; */
  height: 30px;
  width: 30px;
}

.logo:hover {
  opacity: 0.5;
}

.réseaux {
  color: #000000;
  height: 30px;
  width: 30x;
}

.pré {
  color: white;
}

/* .portrait {
  animation: float 2s ease-in-out infinite;
  position: relative;
  z-index: 1;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
} */

.portrait {
  /* position: absolute; */
  border-radius: 50%;
  background-image: linear-gradient(45deg, $color_one, $color_two);
  /* border-radius: 38% 62% 55% 45% / 32% 53% 47% 68%; */
  animation: vawe 7s linear infinite;
}

@keyframes vawe {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }

  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }

  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }

  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}
